docs/n8n/workflow-hoadon.json
{
  "name": "Hoadon — lưu PDF hóa đơn",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Hoadon",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "Hoadon"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "note",
              "name": "hint",
              "value": "Thêm node Google Drive upload $binary.pdf hoặc $binary.file",
              "type": "string"
            }
          ]
        }
      },
      "id": "set",
      "name": "TODO Drive",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"url\": \"https://example.com/REPLACE-WITH-PDF-LINK\",\n  \"filename\": \"{{ $json.body?.filename || $binary.pdf?.fileName }}\"\n}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "TODO Drive", "type": "main", "index": 0 }]] },
    "TODO Drive": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  }
}
